@charset "utf-8";
body{
	margin: 0;
}

.content{
	width: 60%;
	margin: 0 auto;
	border-top: 4px solid #222;
}


.center{
	max-width: 500px;
	margin: 0 auto;
	font-size: 0;
	text-align: center;
}

.box_1{
	margin: 0 auto;
	display: inline-block;
	width: 30%;
	margin: 0.5%;
	padding-bottom: 30%;
	background-color: orange;
	border-radius: 8%;
}
